#Requirements 
#pip install -r .\requirements.txt

pip>22.0.3
openai
langchain
docx2txt
streamlit            
python-dotenv
tiktoken
pypdf
textloader
pdfplumber
chromadb
sqlite>=3.35.0

